<div class="name">
    Jannik Seemann
  </div>
  <div class="clearFloat"></div>
  <br>
<div class="topnav">
  <a [routerLink]="['/']"
     [style.background-color]="about ? 'Green' : 'Black'">About</a>
  <a [routerLink]="['/projects']"
     [style.background-color]="projects ? 'Green' : 'Black'">Projects</a>
<!--  <a>Imprint</a>-->

</div>

<router-outlet></router-outlet>

<div class="footer">
  Visitors:
<a href="http://www.reliablecounter.com" target="_blank">
  <img src="http://www.reliablecounter.com/count.php?page=https://seemann-jannik.firebaseapp.com/&digit=style/black-and-white/14/&reloads=0" alt="" title="" border="0"></a>
<br />
<a href="http://" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;"></a>
</div>
