.scrollBox {
  overflow: auto;
  height: 65vh;
}

.content {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5em;
}

p {
  border-style: solid;
}

.loadingSign {
  font-size: 10em;
  text-align: center;
  color: Black;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .scrollBox {
    height: auto;
    overflow: visible;
  }
  .loadingSign {
    font-size: 3em;
  }
}
