.scrollBox {
  overflow: auto;
  height: 65vh;
}

.content {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5em;
}

p {
  border-style: solid;
}
/*
.projectName {
}*/

.loadingSign {
  font-size: 10em;
  text-align: center;
  color: Black;
  font-style: italic;
}
